Example 1 - Python Sets

In [6]:
thisset = {"apple", "banana", "cherry"}
print("1:", thisset)


thisset = {"apple", "banana", "cherry", "apple"}
print("2:", thisset)

 
thisset = {"apple", "banana", "cherry", True, 1, 2}
print("3:", thisset)


thisset = {"apple", "banana", "cherry", False, True, 0}
print("4:", thisset)


thisset = {"apple", "banana", "cherry"}
print("5:", len(thisset))


set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print("6:")
print(set1)
print(set2)
print(set3)


set1 = {"abc", 34, True, 40, "male"}
print("7:", set1)


myset = {"apple", "banana", "cherry"}
print("8:", type(myset))


thisset = set(("apple", "banana", "cherry"))
print("9:", thisset)

1: {'banana', 'apple', 'cherry'}
2: {'banana', 'apple', 'cherry'}
3: {True, 2, 'banana', 'apple', 'cherry'}
4: {False, True, 'banana', 'apple', 'cherry'}
5: 3
6:
{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}
7: {True, 34, 'abc', 40, 'male'}
8: <class 'set'>
9: {'banana', 'apple', 'cherry'}

Example 2 - Access Set Items

In [8]:
print("1:")
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)


thisset = {"apple", "banana", "cherry"}
print("2:", "banana" in thisset)


thisset = {"apple", "banana", "cherry"}
print("3:", "banana" in thisset)

1:
banana
apple
cherry
2: True
3: True

Example 3 - Add Set Items

In [9]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print("1:", thisset)


thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print("2:", thisset)


thisset = {"apple", "banana", "cherry"}
myset = ["kiwi", "orange"]
thisset.update(myset)
print("3:", thisset)

1: {'banana', 'orange', 'apple', 'cherry'}
2: {'banana', 'apple', 'pineapple', 'papaya', 'mango', 'cherry'}
3: {'cherry', 'banana', 'apple', 'orange', 'kiwi'}

Example 4 -Remove Set Items

In [11]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print("1:", thisset)


thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print("2:", thisset)


thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print("3:", x)
print("4:", thisset)  


thisset = {"apple", "banana", "cherry"}
thisset.clear()
print("5:", thisset)

'''
thisset = {"apple", "banana", "cherry"}
del thisset
print("6:", thisset) '''

1: {'apple', 'cherry'}
2: {'apple', 'cherry'}
3: banana
4: {'apple', 'cherry'}
5: set()

'\nthisset = {"apple", "banana", "cherry"}\ndel thisset\nprint("6:", thisset) '

Example 5 - Loop Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

banana
apple
cherry

Example 6 - Join Sets

In [14]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print("1:", set3)


set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print("2:", set3)


set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "banana", "cherry"}
myset = set1.union(set2, set3, set4)
print("3:", myset)


set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1 | set2 | set3 |set4
print("4:", myset)


x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print("5:", z)


set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print("6:", set1)


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print("7:", set3)

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"} 
set3 = set1 & set2
print("8:", set3)


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print("9:", set1)


set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3 = set1.intersection(set2)
print("10:", set3)


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print("11:", set3)



set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print("12:", set3)


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print("13:", set1)


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print("14:", set3)


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print("15:", set3)


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print("16:", set1)

1: {'a', 1, 'c', 2, 3, 'b'}
2: {'a', 1, 'c', 2, 3, 'b'}
3: {'a', 1, 2, 3, 'b', 'Elena', 'John', 'cherry', 'c', 'banana', 'apple'}
4: {'a', 1, 2, 3, 'bananas', 'b', 'Elena', 'John', 'cherry', 'c', 'apple'}
5: {'a', 1, 2, 3, 'b', 'c'}
6: {'a', 1, 'c', 2, 3, 'b'}
7: {'apple'}
8: {'apple'}
9: {'apple'}
10: {False, 1, 'apple'}
11: {'banana', 'cherry'}
12: {'banana', 'cherry'}
13: {'banana', 'cherry'}
14: {'banana', 'google', 'microsoft', 'cherry'}
15: {'banana', 'google', 'microsoft', 'cherry'}
16: {'google', 'cherry', 'banana', 'microsoft'}