Example 1 - Python Tuples

In [1]:
thistuple = ("apple", "banana", "cherry")
print("1:" , thistuple)


thistuple = ("apple", "banana", "cherry" , "apple" , "cherry") 
print("2:" , thistuple)


thistuple = ("apple", "banana", "cherry")
print("3:" , len(thistuple))


thistuple = ("apple",) 
print("4:" , type(thistuple))


thistuple = ("apple")
print("5:" , type(thistuple))


tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)   
tuple3 = (True, False, False)
print("6:" , tuple1)
print("7:" , tuple2)
print("8:" , tuple3)


tuple1 = ("abc", 34, True, 40, "male")
print("9:" , tuple1)


thistuple = tuple(("apple", "banana", "cherry"))
print("10:" , thistuple)

1: ('apple', 'banana', 'cherry')
2: ('apple', 'banana', 'cherry', 'apple', 'cherry')
3: 3
4: <class 'tuple'>
5: <class 'str'>
6: ('apple', 'banana', 'cherry')
7: (1, 5, 7, 9, 3)
8: (True, False, False)
9: ('abc', 34, True, 40, 'male')
10: ('apple', 'banana', 'cherry')

Example 2 - Access Tuple Items

In [ ]:
thistuple = ("apple", "banana", "cherry")
print("1:" , thistuple[1])


thistuple = ("apple", "banana", "cherry")
print("2:" , thistuple[-1])   


thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print("3:" , thistuple[2:5])


thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print("4:" , thistuple[:4])


thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")   
print("5:" , thistuple[2:])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")   
print("6:" , thistuple[-4:-1])


thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("7: Yes, 'apple' is in the fruits tuple")

1: banana
2: cherry
3: ('cherry', 'orange', 'kiwi')
4: ('apple', 'banana', 'cherry', 'orange')
5: ('cherry', 'orange', 'kiwi', 'melon', 'mango')
6: ('orange', 'kiwi', 'melon')
7: Yes, 'apple' is in the fruits tuple

Example 3 - Update Tuples

In [9]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print("1:" , x)


thistuple = ("apple", "banana", "cherry")   
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print("2:" , thistuple)


thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print("3:" , thistuple)


thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print("4:" , thistuple)


'''
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) 
'''

1: ('apple', 'kiwi', 'cherry')
2: ('apple', 'banana', 'cherry', 'orange')
3: ('apple', 'banana', 'cherry', 'orange')
4: ('banana', 'cherry')

'\nthistuple = ("apple", "banana", "cherry")\ndel thistuple\nprint(thistuple) \n'

Example 4 - Unpack Tuples

In [11]:
fruits = ("apple", "banana", "cherry")
print("1:", fruits)


fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print("2:", green)
print("3:", yellow)
print("4:", red)


fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print("5:", green)
print("6:", yellow)
print("7:", red)


fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print("8:", green)
print("9:", tropic)
print("10:", red)

1: ('apple', 'banana', 'cherry')
2: apple
3: banana
4: cherry
5: apple
6: banana
7: ['cherry', 'strawberry', 'raspberry']
8: apple
9: ['mango', 'papaya', 'pineapple']
10: cherry

Example 5 - Loop Tuples

In [13]:
print("1:")
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)


print("2:")
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])   


print("3:")
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print( thistuple[i])
    i = i + 1

1:
apple
banana
cherry
2:
apple
banana
cherry
3:
apple
banana
cherry

Example 6 - Join Tuples

In [14]:
tuple1 = ("a", "b" , "c")  
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print("1:", tuple3)


fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print("2:", mytuple)

1: ('a', 'b', 'c', 1, 2, 3)
2: ('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')